.DS_Store
node_modules/
dist/*
!dist/_redirects
!dist/.htaccess
npm-debug.log*
yarn-debug.log*
yarn-error.log*
# _comps
# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
_comps/assets-templates.sketch
_comps
deploy.json
api/deploy.json
api/node_modules
.env