html {
  font-size: 58%;
  background-color: white;
}

@media screen and (min-width: 960px) {
  html {
    font-size: 62.5%;
  }
}

@media screen and (min-width: 1550px) {
  html {
    font-size: 72.5%;
  }
}

@media screen and (min-width: 1750px) {
  html {
    font-size: 78.5%;
  }
}

body {
  color: #000000;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 300;
  font-style: normal;
  text-decoration: none;
}

header {
  width: 100%;
  position: relative;
  padding: 2rem;
  background-color: blue;
  color: white;
}

main {
  padding: 0 2rem;
  margin: 0 auto;
  width: 100%;
  max-width: 96rem;
  line-height: 1.45;
}

/* WeeDocs */

.wedocs-single-wrap {
  width: 100%;
  padding-top: 2rem;
}

.wedocs-sidebar > h3 {
  padding: 2rem;
}

.entry-header {
  background-color: white;
  color: blue;
  padding: 0 0 2rem;
}

.wedocs-entry-footer {
  display: none!important;
}

.wedocs-feedback-wrap {
  display: none!important;
}

.article-child > ul {
  padding-top: 2rem;
}

h1,
h2,
h3,
h4 {
  font-weight: bold!important;
  width: 100%!important;
  position: relative!important;
}

h2,
h3,
h4 {
  color: blue!important;
  padding-bottom: 1.5rem!important;
}