link(rel='icon' type='image/png' sizes='32x32' href='/assets/icons/favicon-32x32.png')
link(rel='icon' type='image/png' sizes='16x16' href='/assets/icons/favicon-16x16.png')
link(rel='manifest' href='/assets/manifest.json')
meta(name='apple-mobile-web-app-capable' content='yes')
meta(name='apple-mobile-web-app-status-bar-style' content='black')
meta(name='apple-mobile-web-app-title' content= htmlWebpackPlugin.options.title)
link(rel='apple-touch-icon' type='image/png' href='/assets/icons/apple-touch-icon.png')
meta(name='msapplication-TileColor' content='#FFCFC4')
meta(name='msapplication-TileImage' content='/assets/ico/mstile-144x144.png')