meta(itemprop='name' content= htmlWebpackPlugin.options.title)
meta(itemprop='description' content= htmlWebpackPlugin.options.description)
meta(itemprop='image' content='/assets/imgs/og-card.jpg')
meta(name='twitter:card' content='summary_large_image')
meta(name='twitter:title' content= htmlWebpackPlugin.options.title)
meta(name='twitter:description' content= htmlWebpackPlugin.options.description)
meta(name='twitter:image:src' content='/assets/imgs/twitter-card.jpg')
meta(property='og:title' content= htmlWebpackPlugin.options.title)
meta(property='og:type' content='article')
meta(property='og:url' content= htmlWebpackPlugin.options.site_url)
meta(property='og:image' content='/assets/imgs/og-card.jpg')
meta(property='og:description' content= htmlWebpackPlugin.options.description)
meta(property='og:site_name' content= htmlWebpackPlugin.options.title)